<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controll.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controll.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controll.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>controll.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>controll.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>controll.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertController</servlet-name>
        <servlet-class>controll.InsertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrowController</servlet-name>
        <servlet-class>controll.BorrowController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartController</servlet-name>
        <servlet-class>controll.ViewCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyController</servlet-name>
        <servlet-class>controll.ModifyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GiveBackController</servlet-name>
        <servlet-class>controll.GiveBackController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/DeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/UpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertController</servlet-name>
        <url-pattern>/InsertController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrowController</servlet-name>
        <url-pattern>/BorrowController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartController</servlet-name>
        <url-pattern>/ViewCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyController</servlet-name>
        <url-pattern>/ModifyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GiveBackController</servlet-name>
        <url-pattern>/GiveBackController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>
</web-app>
